<template name="addStudent">
    
    <form>
        <legend>Add student</legend>
    
        <div class="form-group">
            <label for="">Student</label>
            <select name="" id="student" class="form-control" required="required">
                {{#each students}}    
                <option value="{{_id}}">{{username}}</option>
                {{/each}}
            </select>
            
        </div>
    
        
    
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    
</template>