<template name="addSubject">
    
    <form>
        <legend>Add Subject</legend>
    
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Subject name..." required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <input type="text" class="form-control" id="content" placeholder="Content..." required autocomplete="off">
        </div>
        
    
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    
</template>