<template name="editSubject">
    
    <form>
        <legend>Edit Subject</legend>
        {{#with subject}}
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Subject name..." required value="{{name}}" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <input type="text" class="form-control" id="content" placeholder="Content..." value="{{content}}" autocomplete="off" required>
        </div>
        {{/with}}
    
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    
</template>