<template name="listSubject">
    <h3>Subjects</h3>
    {{#if isInRole 'admin'}}
    <a href="/addSubject" class="btn btn-success">Add</a>
    {{/if}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                {{#if isInRole 'admin'}}
                <th>Students</th>
                <th></th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if isInRole 'admin'}}
            {{#each subjects}}
            <tr>
                <td><a href="{{pathFor 'viewSubject' _id=_id}}">{{name}}</a></td>
                <td>{{#each students}}{{name}} {{/each}}</td>
                <td>
                <a type="button" class="btn btn-success" href="{{pathFor 'editSubject' _id=_id}}">Edit</a>
                <a type="button" class="btn btn-primary" href="{{pathFor 'addStudent' _id=_id}}">Add student</a>
                <a type="button" class="btn btn-info" href="{{pathFor 'removeStudent' _id=_id}}">Remove student</a>
                <button type="button" id="remove" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {{/each}}
            {{/if}}

            {{#if isInRole 'student'}}
            {{#each subjectStudent}}
            <tr>
                <td><a href="{{pathFor 'viewSubject' _id=_id}}">{{name}}</a></td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
    
</template>