<template name="removeStudent">
    
    <form>
        <legend>Remove student</legend>
    
        <div class="form-group">
            <label for="">Student</label>
            <select name="" id="student" class="form-control" required="required">
                {{#each students.students}}    
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            
        </div>
    
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
    
</template>