<template name="listStudent">
    <h3>Students</h3>
    <a href="/insertStudent" class="btn btn-success">Add</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td>{{username}}</td>
                <td>
                <button type="button" id="remove" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</template>