<template name="login">
    
    <form style="width: 50%; margin-left: auto; margin-right: auto;">
        <legend>Login</legend>
    
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        
        <div class="alert alert-danger" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong id="err"></strong>
        </div>
        
    
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
</template>