<template name="register">
    
    <form style="width: 50%; margin-left: auto; margin-right: auto;">
        <legend>Register</legend>
    
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        
        <select id="role" class="form-control" required="required">
            <option value="admin">Admin</option>
            <option value="student">Student</option>
        </select>
        
        <div class="alert alert-danger" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong id="err"></strong>
        </div>
        
    
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    
</template>